[COD]
Username=<cdp_workload_username>
Password=<cdp_workload_password>
Url=<URL from Phoenix Thin JDBC connection>
# Optionally, a PEM-encoded TLS certficate to authenticate the remote server. This is not needed by most users.
# Truststore=/path/to/truststore.pem
